services:
  db:
    image: 'postgres:latest'
    ports:
      - '2345:5432'
    expose: ['2345']
    environment:
      - 'POSTGRES_PASSWORD=p1r1p1cch10'
      - 'POSTGRES_HOST_AUTH_METHOD=trust'
#  redis:
#    image: 'redis:latest'
  app:
    build:
      context: .
    ports:
      - "8081:8081"
    volumes:
      - './:/usr/local/app:rw'
    command: python /usr/local/app/src/currency.py
  nginx:
    image: 'nginx:latest'
    ports:
      - "8080:80"
    expose: ['8080']
    volumes:
     - ./nginx/conf.d:/etc/nginx/conf.d